# Dependencies
node_modules/

# Build outputs
android/build/
android/app/build/
android/.gradle/
android/local.properties
android/captures/
android/.cxx/
*.apk
*.ipa

# iOS
ios/Pods/
ios/build/
*.xcworkspace
*.pbxuser

# Environment files
.env
.env.local

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store

# React Native
.metro-health-check*
